asgiref==3.3.4
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
Django==3.2
django-crispy-forms==1.11.2
django-jenkins==0.110.0
html-testRunner==1.2.1
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.4
packaging==20.9
pluggy==0.13.1
pluginbase==1.0.0
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.3
pytz==2021.1
requests==2.25.1
selenium==3.141.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.4
webdriver-manager==3.4.0
